<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from my-pets-1.myshopify.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 02 Feb 2018 17:20:17 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>

    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">


    <link rel="shortcut icon" href="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/favicone8b2.png?8981192451439604557') }}" type="image/png" />


    <!-- Title and description ================================================== -->
    <title>
        My Pets 1
    </title>



    <!-- Helpers ================================================== -->
    <!-- /snippets/social-meta-tags.liquid -->


    <meta property="og:type" content="website">
    <meta property="og:title" content="My Pets 1">

    <meta property="og:image" content="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/logoe8b2.png?8981192451439604557') }}">
    <meta property="og:image:secure_url" content="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/logoe8b2.png?8981192451439604557') }}">



    <meta property="og:url" content="">
    <meta property="og:site_name" content="My Pets 1">





    <meta name="twitter:card" content="summary">


    <link rel="canonical" href="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#747474">

    <!-- CSS ================================================== -->
    <link href="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/timber.scsse8b2.css?8981192451439604557') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/preloadere8b2.css?8981192451439604557') }}" rel="stylesheet" type="text/css" media="all" />
    {#<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" media="all" />
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet" type="text/css" media="all" />#}
    <link href="{{  asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/bootstrap.mine8b2.css?8981192451439604557') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/font-awesome.mine8b2.css?8981192451439604557') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/pe-icon-7-strokee8b2.css?8981192451439604557') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/helpere8b2.css?8981192451439604557') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/owl.carousele8b2.css?8981192451439604557') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/owl.themee8b2.css?8981192451439604557') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/owl.transitionse8b2.css?8981192451439604557') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/nivo-slidere8b2.css?8981192451439604557') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/previewe8b2.css?8981192451439604557') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/meanmenue8b2.css?8981192451439604557') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/animatee8b2.css?8981192451439604557') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/normalizee8b2.css?8981192451439604557') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/maine8b2.css?8981192451439604557') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/defaulte8b2.css?8981192451439604557') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/magnific-popupe8b2.css?8981192451439604557') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/stylee8b2.css?8981192451439604557') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/custome8b2.css?8981192451439604557') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/skin-themee8b2.css?8981192451439604557') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/responsivee8b2.css?8981192451439604557') }}" rel="stylesheet" type="text/css" media="all" />

    <!-- Header hook for plugins ================================================== -->
    <meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/24527833/digital_wallets/dialog">
    <script>var Shopify = Shopify || {};
        Shopify.shop = "my-pets-1.myshopify.com";
        Shopify.theme = {"name":"my-pets","id":188002445,"theme_store_id":null,"role":"main"};
        Shopify.theme.handle = "null";
        Shopify.theme.style = {"id":null,"handle":null};
    </script>
    <script>(function() {
            function asyncLoad() {
                var urls = ["\/\/productreviews.shopifycdn.com\/assets\/v4\/spr.js?shop=my-pets-1.myshopify.com"];
                for (var i = 0; i < urls.length; i++) {
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = urls[i];
                    var x = document.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                }
            };
            if(window.attachEvent) {
                window.attachEvent('onload', asyncLoad);
            } else {
                window.addEventListener('load', asyncLoad, false);
            }
        })();
    </script>
    <script id="__st">var __st={"a":24527833,"offset":-18000,"reqid":"ffc95929-3ea1-490a-a672-0e61f5dbf65d","pageurl":"my-pets-1.myshopify.com\/","u":"479bcfb8ad8d","p":"home"};</script>
    <script>window.ShopifyPaypalV4VisibilityTracking = true;</script>
    <script>window.Shopify = window.Shopify || {};
        window.Shopify.Checkout = window.Shopify.Checkout || {};
        window.Shopify.Checkout.apiHost = "my-pets-1.myshopify.com";
        window.Shopify.Checkout.rememberMeHost = "pay.shopify.com";
        window.Shopify.Checkout.rememberMeAccessToken = "c1dzTTdmcFROT3VndWlsaHBKMUhVTHBmMW1JcXcvZ0twWmVwdjVGeUl0NDRaRTg0LzZtSERtKzdoSFlHc3MyKy0tSlkydklNM0xKNW93Tk44dDNCWkVHQT09--6b7e6f17b1623581ac7c5b287c775950967b19e6";
        window.Shopify.Checkout.sheetStyleSheetUrl = "\/\/cdn.shopify.com\/s\/assets\/shared\/sheet\/main-c38a91ed541a82b485cb4285b3651975cfbf14dd4524647e78a9715f2c79e28b.css";
    </script>
    <script defer="defer" integrity="sha256-ZRI5dhcNg0qs1pghd1RyYuSdOF07T7AJzQg4b/1ub+s=" crossorigin="anonymous" src="{{ asset('client/cdn.shopify.com/s/assets/storefront/express_buttons-65123976170d834aacd6982177547262e49d385d3b4fb009cd08386ffd6e6feb.js') }}"></script>

    <script type="text/javascript">

        window.ShopifyAnalytics = window.ShopifyAnalytics || {};
        window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
        window.ShopifyAnalytics.meta.currency = 'USD';
        var meta = {"page":{"pageType":"home"}};
        for (var attr in meta) {
            window.ShopifyAnalytics.meta[attr] = meta[attr];
        }

    </script>

    <script type="text/javascript">
        window.ShopifyAnalytics.merchantGoogleAnalytics = function() {

        };
    </script>

    <script type="text/javascript" class="analytics">



        (function () {
            var customDocumentWrite = function(content) {
                var jquery = null;

                if (window.jQuery) {
                    jquery = window.jQuery;
                } else if (window.Checkout && window.Checkout.$) {
                    jquery = window.Checkout.$;
                }

                if (jquery) {
                    jquery('body').append(content);
                }
            };

            var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
            if (trekkie.integrations) {
                return;
            }
            trekkie.methods = [
                'identify',
                'page',
                'ready',
                'track',
                'trackForm',
                'trackLink'
            ];
            trekkie.factory = function(method) {
                return function() {
                    var args = Array.prototype.slice.call(arguments);
                    args.unshift(method);
                    trekkie.push(args);
                    return trekkie;
                };
            };
            for (var i = 0; i < trekkie.methods.length; i++) {
                var key = trekkie.methods[i];
                trekkie[key] = trekkie.factory(key);
            }
            trekkie.load = function(config) {
                trekkie.config = config;
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.onerror = function(e) {
                    (new Image()).src = 'http://v.shopify.com/internal_errors/track?error=trekkie_load';
                };
                script.async = true;
                script.src = '../cdn.shopify.com/s/javascripts/tricorder/trekkie.storefront.min97e4.js?v=2017.09.05.1';
                var first = document.getElementsByTagName('script')[0];
                first.parentNode.insertBefore(script, first);
            };
            trekkie.load(
                {"Trekkie":{"appName":"storefront","development":false,"defaultAttributes":{"shopId":24527833,"isMerchantRequest":null,"themeId":188002445,"themeCityHash":16639565098083945817}},"Performance":{"navigationTimingApiMeasurementsEnabled":true,"navigationTimingApiMeasurementsSampleRate":0.1},"Session Attribution":{}}
            );

            var loaded = false;
            trekkie.ready(function() {
                if (loaded) return;
                loaded = true;

                window.ShopifyAnalytics.lib = window.trekkie;


                var originalDocumentWrite = document.write;
                document.write = customDocumentWrite;
                try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch(error) {};
                document.write = originalDocumentWrite;


                window.ShopifyAnalytics.lib.page(
                    null,
                    {"pageType":"home"}
                );


            });


            var eventsListenerScript = document.createElement('script');
            eventsListenerScript.async = true;
            eventsListenerScript.src = "../cdn.shopify.com/s/assets/shop_events_listener-f2c5800305098f0ebebdfa7d980c9abf56514c46d5305e97a7c476f7c9116163.js";
            document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);

        })();
    </script>


    <script src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/compiled_assets/scriptse8b2.js?8981192451439604557') }}" defer="defer" id="sections-script" data-sections="nivo-slider,our-story,our-service,featured-product,video-banner,gallery,testimonial-area,latest-blog,instagram,shipping-area,header,footer"></script>
    <link rel="stylesheet" media="screen" href="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/compiled_assets/stylese8b2.css?8981192451439604557') }}" />
    <!-- /snippets/oldIE-js.liquid -->


    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <script src="//cdn.shopify.com/s/files/1/2452/7833/t/2/assets/respond.min.js?8981192451439604557" type="text/javascript"></script>
    <link href="//cdn.shopify.com/s/files/1/2452/7833/t/2/assets/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
    <link href="//my-pets-1.myshopify.com/search?q=273dc28ce991dd6cf1e3daeb02abe16c" id="respond-redirect" rel="respond-redirect" />
    <script src="//my-pets-1.myshopify.com/search?q=273dc28ce991dd6cf1e3daeb02abe16c" type="text/javascript"></script>
    <![endif]-->





    <!-- JS ================================================== -->
    <script src="{{ asset('client/code.jquery.com/jquery-1.12.0.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/modernizr.mine8b2.js?8981192451439604557') }}" type="text/javascript"></script>
    <script src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/bootstrap.mine8b2.js?8981192451439604557') }}" type="text/javascript"></script>
    <script src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/jquery.meanmenue8b2.js?8981192451439604557') }}" type="text/javascript"></script>
    <script src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/owl.carousel.mine8b2.js?8981192451439604557') }}" type="text/javascript"></script>
    <script src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/jquery.scrollUp.mine8b2.js?8981192451439604557') }}" type="text/javascript"></script>
    <script src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/jquery.nivo.slidere8b2.js?8981192451439604557') }}" type="text/javascript"></script>
    <script src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/homee8b2.js?8981192451439604557') }}" type="text/javascript"></script>
    <script src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/instafeed.mine8b2.js?8981192451439604557') }}" type="text/javascript"></script>
    <script src="{{ asset('client/cdn.shopify.com/s/assets/themes_support/option_selection-ea4f4a242e299f2227b2b8038152223f741e90780c0c766883939e8902542bda.js') }}" type="text/javascript"></script>
    <script src="{{ asset('client/cdn.shopify.com/s/assets/themes_support/api.jquery-0ea851da22ae87c0290f4eeb24bc8b513ca182f3eb721d147c009ae0f5ce14f9.js') }}" type="text/javascript"></script>
    <script src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/cart.apie8b2.js?8981192451439604557') }}" type="text/javascript"></script>
    <script src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/jquery.matchHeighte8b2.js?8981192451439604557') }}" type="text/javascript"></script>
    <script src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/pluginse8b2.js?8981192451439604557') }}" type="text/javascript"></script>
    <script src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/magnifice8b2.js?8981192451439604557') }}" type="text/javascript"></script>
    <script src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/imagesloaded.pkgd.mine8b2.js?8981192451439604557') }}" type="text/javascript"></script>
    <script src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/masonry.pkgd.mine8b2.js?8981192451439604557') }}" type="text/javascript"></script>
    <script src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/maine8b2.js?8981192451439604557') }}" type="text/javascript"></script>









</head>

<body id="my-pets-1" class="template-index" >

<div class="">




































    <div id="preloader_active">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_four"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_one"></div>
            </div>
        </div>
    </div>









    <div class="top-notification-bar">
        <div class="container">
            <div class="row">
                <div class="notification-entry text-center col-xs-12">
                    <p>All Featured Product 50% off <a href="">Buy Now</a></p>
                    <button class="notification-close-btn"><i class="pe-7s-close"></i></button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var nToggle = $('.notification-close-btn');
        nToggle.on('click', function(){
            $('.top-notification-bar').slideToggle();
        })
    </script>



    <div id="shopify-section-header" class="shopify-section"><header id="header" class="header-area">
            <div class="header-bottom">
                <div class="container">
                    <div class="row">
                        <!-- Logo Start -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="logo home-2">

                                <a href=""><img src="../cdn.shopify.com/s/files/1/2452/7833/files/logo-final_medium65d6.png?v=1508386897" alt="My Pets 1" /></a>

                            </div>
                        </div>
                        <!-- Logo End -->
                        <!-- Main Menu Start -->
                        <div class="col-md-7 hidden-sm hidden-xs">
                            <div class="main-menu home-2">
                                <nav>
                                    <ul id="main-nav">



                                        <li class="site-nav--has-dropdown site-nav--active"><a href="">Home</a>
                                            <ul class="dropdown-menus">



                                                <li><a href="">home default</a></li>




                                                <li><a href="https://my-pets-2.myshopify.com/">home box</a></li>


                                            </ul>
                                        </li>




                                        <li class="site-nav--has-dropdown "><a href="">Shop</a>
                                            <ul class="dropdown-menus">



                                                <li class="mega-menu-li"><a href="">instruments</a>
                                                    <ul>

                                                        <li><a href="">Clipper Blade</a></li>

                                                        <li><a href="">Coarse-Toothed Comb</a></li>

                                                        <li><a href="">Nail Clippers</a></li>

                                                        <li><a href="">Dog Rake</a></li>

                                                        <li><a href="">Cat Toy</a></li>

                                                        <li><a href="">Nail Grinder</a></li>

                                                    </ul>
                                                </li>




                                                <li class="mega-menu-li"><a href="">Foods</a>
                                                    <ul>

                                                        <li><a href="">Raw meats</a></li>

                                                        <li><a href="">canned </a></li>

                                                        <li><a href="">freeze dried </a></li>

                                                        <li><a href="">kibble</a></li>

                                                        <li><a href="">dehydrated</a></li>

                                                        <li><a href="">Rx line</a></li>

                                                    </ul>
                                                </li>




                                                <li class="mega-menu-li"><a href="">Accessories</a>
                                                    <ul>

                                                        <li><a href="">Rabbit </a></li>

                                                        <li><a href="">Cattery Cages </a></li>

                                                        <li><a href="">Cat toy</a></li>

                                                        <li><a href="">Dog Gumboots</a></li>

                                                        <li><a href="">Kong Extreme</a></li>

                                                        <li><a href="">show cage</a></li>

                                                    </ul>
                                                </li>




                                                <li class="mega-menu-li image-menu">
                                                    <a href="collections/food-pouches.html"><img src="../cdn.shopify.com/s/files/1/2452/7833/collections/menu_3a7ff871-b0ae-4e84-b30b-4b7ad2867b10_largececc.jpg?v=1508834824" alt="" /></a>
                                                </li>


                                            </ul>
                                        </li>




                                        <li class="site-nav--has-dropdown "><a href="blogs/services.html">Services</a>
                                            <ul class="dropdown-menus">



                                                <li><a href="blogs/services/full-grooming.html">Full Grooming</a></li>




                                                <li><a href="blogs/services/bath-and-dry.html">Bath and Dry</a></li>




                                                <li><a href="blogs/services/styling.html">Styling</a></li>




                                                <li><a href="blogs/services/medical-bath.html">Medical Bath</a></li>


                                            </ul>
                                        </li>




                                        <li class=""><a href="blogs/news.html">Blog</a></li>




                                        <li class=""><a href="">About</a></li>




                                        <li class=""><a href="pages/contact.html">Contact</a></li>


                                    </ul>
                                </nav>
                            </div>



                        </div>
                        <!-- Main Menu End -->
                        <!-- Header Top Righ Start -->
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <ul class="menu-list text-right">
                                <!-- Account Start -->
                                <li><a href="#"><i class="pe-7s-add-user"></i></a>
                                    <ul class="account-menu">



                                        {% if is_granted("ROLE_USER") %}
                                            <li><a href="" >My Account : {{ app.user.username }}</a></li>

                                        {% else %}
                                            <li><a href="">Login</a></li>


                                        {% endif %}
                                        <li><a href="">My Wishlist</a></li>
                                        <li><a href="">My Cart</a></li>

                                        <li><a href="{{ path('fos_user_security_logout') }}">Log Out</a></li>

                                    </ul>
                                </li>
                                <!-- Account End -->

                                <li><a href="#"><i class="pe-7s-search"></i></a>
                                    <div class="widget_searchform_content">
                                        <form action="https://my-pets-1.myshopify.com/search" method="get" class="search-bar" role="search">
                                            <input type="search" name="q" value="" placeholder="Search our store" aria-label="Search our store">
                                            <button type="submit" class="search-btn"><i class="pe-7s-search"></i></button>
                                        </form>
                                    </div>
                                </li>

                                <li>

                                    <div class="mini-cart-block">
                                        <div class="cart-link">
                                            <a href="" class="cart-icon" title="Cart">
                                                <i class="pe-7s-cart"></i>
                                                <span class="cart-qty bigcounter">0</span>
                                            </a>
                                            <div class="mini-cart-info cart-group-1">
                                                <ul  style="display:none;">

                                                </ul>
                                                <div class="cart-total"  style="display:none;">
                                                    <h6><span class="lbl">Total:</span> <span class="shopping-cart__total">$0.00</span></h6>
                                                    <a href="" class="checkout-btn">Check Out</a>
                                                </div>

                                                <div class="cart-total cart-empty-text"  style="display:block;">
                                                    <h4 class="text-center">Your Cart is empty</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Header Top Righ Start -->
                    </div>
                </div>

                <!-- mobile-menu-area start -->
                <div class="mobile-menu-area">
                    <div class="container mobile-menu-container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <nav id="dropdown" class="hidden">
                                    <ul>



                                        <li class="site-nav--has-dropdown site-nav--active"><a href="">Home</a>
                                            <ul>

                                                <li><a href="">home default</a></li>

                                                <li><a href="https://my-pets-2.myshopify.com/">home box</a></li>

                                            </ul>
                                        </li>




                                        <li class="site-nav--has-dropdown"><a href="">Shop</a>
                                            <ul>

                                                <li><a href="">instruments</a></li>

                                                <li><a href="">Foods</a></li>

                                                <li><a href="">Accessories</a></li>

                                                <li><a href="collections/food-pouches.html">Image</a></li>

                                            </ul>
                                        </li>




                                        <li class="site-nav--has-dropdown"><a href="blogs/services.html">Services</a>
                                            <ul>

                                                <li><a href="blogs/services/full-grooming.html">Full Grooming</a></li>

                                                <li><a href="blogs/services/bath-and-dry.html">Bath and Dry</a></li>

                                                <li><a href="blogs/services/styling.html">Styling</a></li>

                                                <li><a href="blogs/services/medical-bath.html">Medical Bath</a></li>

                                            </ul>
                                        </li>




                                        <li ><a href="blogs/news.html">Blog</a></li>




                                        <li ><a href="">About</a></li>




                                        <li ><a href="pages/contact.html">Contact</a></li>


                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- mobile-menu-area end -->

            </div>
        </header>







    </div>


    {% block body %}
    {% endblock %}






    <div id="shopify-section-footer" class="shopify-section"><footer id="footer" class="footer-area">

            <div class="footer-top">
                <div class="footer-widget-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">

                                <div class="single-footer-widget logo">
                                    <div class="footer-logo">

                                        <a href=""><img src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/files/logo-final-white_mediumad80.png?v=1508409449') }}" alt="My Pets 1" /></a>

                                    </div>
                                    <div class="address">
                                        <ul>
                                            <li>

                                                <span><i class="pe-7s-map-marker"></i></span>


                                                <p>262 Milacina Mrest St. <br>Paris France</p>

                                            </li>
                                            <li>

                                                <span><i class="pe-7s-call"></i></span>


                                                <p>+88 3333 6789</p>

                                            </li>
                                            <li>

                                                <span><i class="pe-7s-map-marker"></i></span>


                                                <p>contact@food.com</p>

                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="single-footer-widget">

                                    <h6 class="widget-title">our services</h6>

                                    <div class="service-list">
                                        <ul>


                                            <li><a href="blogs/services/full-grooming.html" title="">Full Grooming</a></li>

                                            <li><a href="blogs/services/bath-and-dry.html" title="">Bath and Dry</a></li>

                                            <li><a href="blogs/services/styling.html" title="">Styling</a></li>

                                            <li><a href="blogs/services/medical-bath.html" title="">Medical Bath</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <div class="single-footer-widget">

                                    <h6 class="widget-title">Quick Menu</h6>

                                    <div class="service-list">
                                        <ul>


                                            <li><a href="">Login</a></li>

                                            <li><a href="">My account</a></li>

                                            <li><a href="pages/wishlist.html">Wishlist</a></li>

                                            <li><a href="">Checkout</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-8 col-xs-12">
                                <div class="single-footer-widget">

                                    <h6 class="widget-title newsletter-title">Newsletter</h6>

                                    <div class="single-footer-newsletter">

                                        <p>Lorem ipsum dolor sit amet, consectt us adip isicing elit, sed do edunt.</p>

                                        <div id="mc_embed_signup">
                                            <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                                <div id="mc_embed_signup_scroll">
                                                    <input type="email" value="" name="EMAIL" class="email" placeholder="Enter Your Email" required>
                                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                        <input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value="">
                                                    </div>
                                                    <div class="clear">
                                                        <button type="submit" id="mc-embedded-subscribe" class="button">
                                                            <i class="pe-7s-paper-plane"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="footer-bottom">
                <div class="container">
                    <div class="row">



                        <div class="col-md-6 col-sm-6 col-xs-12">

                            <div class="copyright-text text-left">
                                <p>© 2017 - Developed by <a href="https://devitems.com/" target="_blank"> DevItems</a></p>
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="single-footer-soical">

                                <a href="https://www.facebook.com/devitems/" target="_blank"><i class="fa fa-facebook"></i></a>

                                <a href="https://www.instagram.com/devitems/" target="_blank"><i class="fa fa-instagram"></i></a>

                                <a href="https://devitems.com/feed/" target="_blank"><i class="fa fa-rss"></i></a>

                                <a href="https://twitter.com/devitemsllc" target="_blank"><i class="fa fa-twitter"></i></a>

                                <a href="https://www.pinterest.com/devitemsllc/" target="_blank"><i class="fa fa-pinterest"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.footer-bottom -->

        </footer>

        <style>
            .footer-top {
                background: #362526 none repeat scroll 0px 0px;
            }
            .footer-bottom {
                background: #291c1d none repeat scroll 0px 0px;
            }
        </style>







    </div>

    <!-- /snippets/product-quickview.liquid -->

    <!-- product-quickview start -->

    <div class="quickview-wrapper">
        <!-- Modal start -->
        <div class="modal fade" id="quickViewModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product">
                            <div class="product-images">
                                <!-- image -->
                                <div class="main-image images product-main-image__item">
                                    <div class="img_box_1"></div>
                                </div>
                            </div><!-- .product-images -->

                            <div class="product-info">
                                <h1 class="product_title">FROM_JS</h1>


                                <div class="ratings product-info__review">
                                    <div class="rating-box rating">
                                        <span class="shopify-product-reviews-badge" data-id=""></span>
                                    </div>
                                </div>




                                <div class="price-box">
                                    <div class="product-price product-info__price price-part">
                                        <h6 class="special-price">
                                            <span class="main">jsprice</span>
                                            <span class="price-box__new">jsprice</span>
                                        </h6>
                                    </div>
                                </div>


                                <div class="product-short-desc">
                                    <div class="divider divider--xs product-info__divider"></div>
                                    <div class="product-info__description product-des">FROM_JS</div>
                                </div>

                                <div class="quick-add-to-cart">
                                    <form id="add-item-qv" action="https://my-pets-1.myshopify.com/cart/add" method="post">
                                        <div class="variants"></div>
                                        <div class="quantity-area">
                                            <div class="product-quantity">
                                                <div class="quantity-area">
                                                    <div class="cart-plus-minus">
                                                        <input type="number" name="quantity" value="1" min="1" title="Qty" class="input-text qty">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <button type="submit" name="add" class="add-to-cart-button addtocartqv">
                                            Add to Cart
                                        </button>

                                        <script>
                                            jQuery('.addtocartqv').click(function(e) {
                                                e.preventDefault();
                                                Shopify.addItemFromFormStart('add-item-qv', jQuery(this).attr('id'));
                                            });
                                        </script>

                                    </form>
                                </div>
                            </div><!-- .product-info -->
                        </div><!-- .modal-product -->
                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
        <!-- Modal end -->
    </div>


    <!-- product-quickview end -->

    <div class="quickViewModal_info" style="display: none;">
        <div class="button">Add to Cart</div>
        <div class="button_added"><i class="pe-7s-check"></i></div>
        <div class="button_error"><span class="icon icon-shopping_basket"></span> Limit Products</div>
        <div class="button_wait"><i class="pe-7s-refresh-2"></i></div>
    </div>

    <script>
        var mainImage = '';
        jQuery(function ($) {

            quiqview = function(product_handle) {
                Shopify.getProduct(product_handle);
            }
            Shopify.onProduct = function(product) {
                $('.viewfullinfo').attr('href', product.url);

                var _parent = '#quickViewModal';
                $(_parent+' .product_title').text(product.title);
                $(_parent+' .product_dec').html(product.description);

                $(_parent+' .rating').empty();
                $(_parent+' .rating').append("<span class=\"shopify-product-reviews-badge\" data-id=\""+product.id+"\"></span>");


                //check variants
                var variant = '';

                for (i = 0; i < product.variants.length; i++) {
                    if(product.variants[i].inventory_quantity > 0) {
                        variant = product.variants[i];
                        break;
                    }
                }

                if(variant == '') {
                    for (i = 0; i < product.variants.length; i++) {
                        if(product.variants[i].inventory_policy == "continue") {
                            variant = product.variants[i];
                            break;
                        }
                    }
                    if(variant == '') {
                        variant = product.variants[0];
                    }
                }

                mainImage = product.featured_image;
                var shopifyimgurl = variant.featured_image ? variant.featured_image.src : product.featured_image;
                var imgurl = "<img class=\"full-width\" alt=\"\" src = \""+shopifyimgurl+"\" >";
                jQuery(_parent+' .product-main-image__item .img_box_1').empty();
                jQuery(_parent+' .product-main-image__item .img_box_1').append(imgurl);
                jQuery(_parent+' .product-main-image__item .img_box_2').empty();
                jQuery(_parent+' .product-main-image__item .img_box_2').append(imgurl);

                var desc = product.description;
                if (desc.indexOf("[short_description]") >= 0) {
                    desc = desc.split("[short_description]");
                    desc = desc[1].split("[/short_description]");
                    $(_parent+' .product-des').show();
                    $(_parent+' .product-des').html(desc[0]);
                }
                else {
                    $(_parent+' .small-product-des').hide();
                }

                //set variants property
                var inv_qua = variant.inventory_quantity;
                //price
                if(variant.price < variant.compare_at_price) {
                    $('.price-part .main').addClass('amount');
                    $('.price-part .price-box__new').show();
                    changePriceValue('.price-part .main', variant.compare_at_price);
                    changePriceValue('.price-part .price-box__new', variant.price);
                }
                else {
                    $('.price-part .price-box__new').hide();
                    $('.price-part .main').removeClass('amount');
                    changePriceValue('.price-part .main', variant.price);
                }

                // Variants select
                if(product.variants.length > 1) {
                    var variants_margin = product.options.length == 2 ? 'variants_margin' : '';

                    var select = '<select id="product-select-qv" name="id">';
                    var selected = 'selected';
                    for (i = 0; i < product.variants.length; i++) {
                        var _var = product.variants[i];
                        if(_var.available) {
                            select += '<option value="' + _var.id + '"' + selected +'>' + _var.title + ' - ' + Shopify.formatMoney(_var.price, "0") + '</option>'
                            selected = '';
                        }
                    }
                    select += '</select>';

                    var variant_select = '<div class="variants_selects ' + variants_margin + '">';
                    variant_select += select;
                    variant_select += '</div><div class="divider divider--sm"></div>';
                    select = variant_select;
                }
                else {
                    var select = '<input type="hidden" name="id" value="' + product.variants[0].id + '" />';
                }
                $('.variants').empty();
                $('.variants').html(select);

                //parametres
                setParametresText(_parent+' .product-sku', variant.sku);
                if(jQuery(_parent + ' .product-sku').length) {
                    var $ava = jQuery(_parent + " .product-info__availabilitu");
                    if(variant.sku != "") {
                        if($ava.hasClass('pull-left')){ $ava.removeClass('pull-left') }
                    } else {
                        if(!$ava.hasClass('pull-left')){ $ava.addClass('pull-left') }
                    }
                }

                //quantity
                var out_of_stock = false;
                if(variant.inventory_management) {
                    if(inv_qua > 0) {
                        $(_parent+' .product-availability').text(inv_qua + " In Stock");
                    }
                    else {
                        out_of_stock = true;
                        $(_parent+' .product-availability').text("Out of stock");
                    }
                }
                else {
                    $(_parent+' .product-availability').text("Many in stock");
                }

                // button
                if(!out_of_stock || variant.inventory_policy == "continue") {
                    $('.product-available').show();
                    $('.product-disable').hide();
                    $('.addtocartqv').attr('id', product.id );
                }
                else {
                    $('.product-available').hide();
                    $('.product-disable').show();
                }

                if (product.available && product.variants.length > 1) {
                    new Shopify.OptionSelectors("product-select-qv", { product: product, onVariantSelected: selectCallbackQv, enableHistoryState: true });

                    if($('#quickViewModal .variants_selects .selector-wrapper').length > 0) {
                        $.each( jQuery('#quickViewModal .variants_selects .selector-wrapper'), function(index) {
                            $(this).find('label').text(product.options[index].name);
                        });
                    }
                }
                else {
                    jQuery('.currency .active').trigger('click');
                }
                selectGrid(_parent);

                if($(".spr-badge").length > 0) {
                    $.getScript(window.location.protocol + "//productreviews.shopifycdn.com/assets/v4/spr.js");
                }

                if($(".selector-wrapper label").length) {
                    $(".selector-wrapper label").each(function( index ) {
                        $(this).text(jQuery(this).text() + ":");
                    });
                }

                $(_parent).modal('show');

                if( !( 'ontouchstart' in window ) &&
                    !navigator.msMaxTouchPoints &&
                    !navigator.userAgent.toLowerCase().match( /windows phone os 7/i ) ) return false;

                $j('body').css("top", -$j('body').scrollTop());
                $j('body').addClass("no-scroll");
                $j('.close').click(function(){
                    var top = parseInt($j('body').css("top").replace("px", ""))*-1;
                    $j('body').removeAttr("style");
                    $j('body').removeClass("no-scroll");
                    $j('body').scrollTop(top);
                });
            }

            function setParametresText(obj, value) {
                if(value != '') {
                    $(obj).parent().show();
                    $(obj).text(value);
                }
                else {
                    $(obj).parent().hide();
                }
            }

            function changePriceValue (cell, value) {
                $(cell).html(Shopify.formatMoney(value, "0"));
            };

        });



        var selectCallbackQv = function(variant, selector) {

            var _parent = '#quickViewModal';
            var _parentprice = _parent + ' .price-part';
            if (!variant) {
                jQuery(_parent + " .price-box").hide();
                jQuery(_parent + " .qwt").hide();
                jQuery(_parent + " .control-console").hide();
                jQuery(_parent + ' .addtocartqv').attr('disabled','disabled');
                jQuery(_parent + ' .addtocartqv').text('Unavailable');
                return false;
            }

            jQuery(_parent + " .price-box").show();
            jQuery(_parent + " .qwt").show();
            jQuery(_parent + " .control-console").show();

            if(variant.price < variant.compare_at_price){
                jQuery(_parentprice + ' .main').addClass('price-box__old');
                jQuery(_parentprice + ' .price-box__new').show();
                changePriceValue(_parentprice + ' .main', variant.compare_at_price);
                changePriceValue(_parentprice + ' .price-box__new', variant.price);
            } else {
                jQuery(_parentprice + ' .price-box__new').hide();
                jQuery(_parentprice + ' .main').removeClass('price-box__old');
                changePriceValue(_parentprice + ' .main', variant.price);
            }

            newVariantTextDataQv(_parent + ' .product-sku', variant.sku);

            if(jQuery(_parent + ' .product-sku').length) {
                var $ava = jQuery(_parent + " .product-info__availabilitu");
                if(variant.sku != "") {
                    if($ava.hasClass('pull-left')){ $ava.removeClass('pull-left') }
                } else {
                    if(!$ava.hasClass('pull-left')){ $ava.addClass('pull-left') }
                }
            }

            if (variant.available) {
                if (variant.inventory_management == null) {
                    jQuery(_parent + " .product-availability").text("Many in stock");
                } else {
                    jQuery(_parent + " .product-availability").text(variant.inventory_quantity + " Many in stock");
                }
            } else {
                jQuery(_parent + " .product-availability").text("Sold Out");
            }

            var shopifyimgurl = variant.featured_image ? variant.featured_image.src : mainImage;
            var imgurl = "<img class=\"full-width\" alt=\"\" src = \""+shopifyimgurl+"\" >";
            if(jQuery(_parent+' .product-main-image__item .img_box_1').children().length > 0) {
                var detach = jQuery(_parent+' .product-main-image__item .img_box_1 img').detach();
                jQuery(_parent+' .product-main-image__item .img_box_2').empty();
                jQuery(_parent+' .product-main-image__item .img_box_2').append(detach);
            }
            jQuery(_parent+' .product-main-image__item .img_box_1').empty();
            jQuery(_parent+' .product-main-image__item .img_box_1').append(imgurl);

            if (variant && variant.available) {
                jQuery(_parent + ' .addtocartqv').removeAttr('disabled');
                jQuery(_parent + ' .addtocartqv').html('Add to Cart');
                jQuery(_parent + " .control-console").show();
            } else {
                jQuery(_parent + ' .addtocartqv').attr('disabled','disabled');
                jQuery(_parent + ' .addtocartqv').text('Unavailable');
                jQuery(_parent + " .control-console").hide();
            }

            jQuery('.currency .active').trigger('click');
        };

        function changePriceValue (cell, value) {
            jQuery(cell).html(Shopify.formatMoney(value, "0"));
        };

        function newVariantTextDataQv (obj, value) {
            if(value != '') {
                jQuery(obj).parent().show();
                jQuery(obj).text(value);
            }
            else {
                jQuery(obj).parent().hide();
            }
        };


        function selectGrid(_parent) {
            setTimeout(timeout, 5);
            function timeout() {
                if(jQuery(_parent + " .selector-wrapper").length > 2){
                    jQuery(_parent + " .single-option-selector").addClass("select--wd");
                } else if(jQuery(_parent + " .selector-wrapper").length == 1){
                    jQuery(_parent + " .single-option-selector").before("<label></label>");
                    jQuery(_parent + " .single-option-selector").addClass("select--wd");
                }
            }
        };

    </script>

    <!-- END QUICKVIEW PRODUCT -->

    <script src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/fastclick.mine8b2.js?8981192451439604557') }}" type="text/javascript"></script>
    <script src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/timbere8b2.js?8981192451439604557') }}" type="text/javascript"></script>


    <script>

    </script>



    <script src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/handlebars.mine8b2.js?8981192451439604557') }}" type="text/javascript"></script>
    <!-- /snippets/ajax-cart-template.liquid -->



    <script src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/ajax-carte8b2.js?8981192451439604557') }}" type="text/javascript"></script>
    <script>
        jQuery(function($) {
            ajaxCart.init({
                formSelector: '#AddToCartForm',
                cartContainer: '#CartContainer',
                addToCartSelector: '#AddToCart',
                cartCountSelector: '#CartCount',
                cartCostSelector: '#CartCost',
                moneyFormat: "0"
            });
        });

        jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
            // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
            timber.RightDrawer.open();
        });
    </script>


    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="{{ asset('client//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56de975c944a8da7') }}"></script>

    <!-- modalAddToCart -->
    <div class="modal fade cart-modal" id="modalAddToCart" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog white-modal modal-sm">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear">X</span></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <div class="Sucessfull-icon">
                            <i class="fa fa-check animated bounceIn" aria-hidden="true"></i>
                            <span>Added to Cart Successfully!</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <a href="" class="">View Cart</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /modalAddToCart -->
    <!-- modalAddToCart Error -->
    <div class="modal fade cart-modal" id="modalAddToCartError" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog white-modal modal-sm">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
                </div>
                <div class="modal-body">
                    <div class="text-center error_message">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/t/2/assets/wishliste8b2.js?8981192451439604557') }}" type="text/javascript"></script>
    <script>
        (function() {
            Wishlist.init();
        }());
    </script>



    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','../www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-91020528-1', 'auto');
        ga('send', 'pageview');

    </script>

</div>
</body>

<!-- Mirrored from my-pets-1.myshopify.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 02 Feb 2018 17:20:23 GMT -->
</html>