{% extends 'client/layout.html.twig' %}

{% block body %}

    <!-- BREADCRUMBS SETCTION START -->

    <div class="breadcrumbs-section mb-100 fix">
        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs-inner text-center ptb-100">
                            <h1 class="breadcrumbs-title">about us</h1>

                            <nav class="" role="navigation" aria-label="breadcrumbs">
                                <ul class="breadcrumb-list">
                                    <li>
                                        <a href="{{ path('index_user') }}" title="Back to the frontpage">Home</a>
                                    </li>
                                    <li>



                                        <span>about us</span>


                                    </li>
                                </ul>
                            </nav>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BREADCRUMBS SETCTION END -->


    <main>
        <div id="shopify-section-about-template" class="shopify-section"><div class="about-us-section mb-95 rhs-about">
                <div class="our-story-area about ">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="our-story-left fix">
                                    <div class="our-story-heading">

                                        <h1>FOOD FACTORY</h1>


                                        <h6>FROM 1989 TO 2015 AND NOW</h6>

                                    </div>
                                    <div class="our-stories">

                                        <p>Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condim entum a. Aliquam condimentum mattis neque sed pretium. Vestibulum quis porst itor duiest Quisque viverra nunc mi, a pulvinar purus condimentum. Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condim entum.</p>


                                        <p>Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condim entum a. Aliquam condimentum mattis neque sed pretium. Vestibulum quis porst itor duiest Quisque viverra nunc mi, a pulvinar purus condimentum. Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condim entum.</p>


                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6 ">
                                <div class="our-story-right fix">
                                    <div class="our-story-img">
                                        <a href="#">

                                            <img src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/files/story_aee88b17-96e5-4148-9524-571a7932f94d_large72f1.png?v=1508403386') }}" alt="" />

                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div id="team" class="team-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                                <h5 class="section-title">Crazy Team</h5>

                            </div>
                        </div>
                        <div class="team-members-area">
                            <div class="row">

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="single-team-member">
                                        <div class="member-img">
                                            <a href="#">

                                                <img src="{{ asset('client/images/user.jpg') }}" alt="" width="390" height="450"/>

                                            </a>
                                            <div class="member-social-links">
                                                <ul>

                                                    <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>


                                                    <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>


                                                    <li><a href="https://www.tumblr.com/"><i class="fa fa-tumblr"></i></a></li>


                                                    <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="member-info">

                                            <h6 class="member-name">Khalil</h6>


                                            <p class="member-designation">Admin</p>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="single-team-member">
                                        <div class="member-img">
                                            <a href="#">

                                                <img src="{{ asset('client/images/IMG_5306.JPG') }}" alt="" width="390" height="450"/>

                                            </a>
                                            <div class="member-social-links">
                                                <ul>

                                                    <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>


                                                    <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>


                                                    <li><a href="https://www.tumblr.com/"><i class="fa fa-tumblr"></i></a></li>


                                                    <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="member-info">

                                            <h6 class="member-name">Ahmed</h6>


                                            <p class="member-designation">Designer</p>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="single-team-member">
                                        <div class="member-img">
                                            <a href="#">

                                                <img src="{{ asset('client/images/RI.jpg') }}" alt="" width="390" height="450"/>

                                            </a>
                                            <div class="member-social-links">
                                                <ul>

                                                    <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>


                                                    <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>


                                                    <li><a href="https://www.tumblr.com/"><i class="fa fa-tumblr"></i></a></li>


                                                    <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="member-info">

                                            <h6 class="member-name">Ines/Rihab</h6>


                                            <p class="member-designation">Researcher</p>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="single-team-member">
                                        <div class="member-img">
                                            <a href="#">

                                                <img src="{{ asset('client/images/khlayil_n.jpg') }}" alt="" width="390" height="450"/>

                                            </a>
                                            <div class="member-social-links">
                                                <ul>

                                                    <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>


                                                    <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>


                                                    <li><a href="https://www.tumblr.com/"><i class="fa fa-tumblr"></i></a></li>


                                                    <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="member-info">

                                            <h6 class="member-name">Khalil</h6>


                                            <p class="member-designation">Developer</p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>










        </div>

    </main>

{% endblock %}

