{% extends 'client/layout.html.twig' %}

{% block body %}
    <!-- BREADCRUMBS SETCTION START -->

    <div class="breadcrumbs-section mb-100 fix">
        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs-inner text-center ptb-100">
                            <h1 class="breadcrumbs-title">Products</h1>

                            <nav class="" role="navigation" aria-label="breadcrumbs">
                                <ul class="breadcrumb-list">
                                    <li>
                                        <a href="{{ path('index_user') }}" title="Back to the frontpage">Home</a>
                                    </li>
                                    <li>




                                        <span>Products</span>



                                    </li>
                                </ul>
                            </nav>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BREADCRUMBS SETCTION END -->


    <main>
        <div id="shopify-section-collection-template" class="shopify-section"><div id="shop" class="shop-area mb-100">
                <div class="container">
                    <div class="row">




                        <div class="col-md-9 col-sm-12 pull-right">
                            <div class="toolbar fix">
                                <div class="view-mode">
                                    <span class="view-style">View Style:</span>
                                    <button type="button" title="Grid view" class="change-view change-view--active" data-view="grid">
    <span class="icon-fallback-text">
      <i class="fa fa-th"></i>
      <span class="fallback-text">Grid view</span>
    </span>
                                    </button>
                                    <button type="button" title="List view" class="change-view" data-view="list">
    <span class="icon-fallback-text">
      <i class="fa fa-th-list"></i>
      <span class="fallback-text">List view</span>
    </span>
                                    </button>
                                </div>

                                <div class="form-horizontal">
                                    <div class="sorter">
                                        <select name="SortBy" id="SortBy">
                                            <option value="manual">Featured</option>
                                            <option value="best-selling">Best Selling</option>
                                            <option value="title-ascending">Alphabetically, A-Z</option>
                                            <option value="title-descending">Alphabetically, Z-A</option>
                                            <option value="price-ascending">Price, low to high</option>
                                            <option value="price-descending">Price, high to low</option>
                                            <option value="created-descending">Date, new to old</option>
                                            <option value="created-ascending">Date, old to new</option>
                                        </select>
                                    </div><!-- /.sorter -->
                                </div>

                                <script>
                                    /*============================================================================
                                      Inline JS because collection liquid object is only available
                                      on collection pages and not external JS files
                                    ==============================================================================*/
                                    Shopify.queryParams = {};
                                    if (location.search.length) {
                                        for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
                                            aKeyValue = aCouples[i].split('=');
                                            if (aKeyValue.length > 1) {
                                                Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
                                            }
                                        }
                                    }

                                    $(function() {
                                        $('#SortBy')
                                            .val('title-ascending')
                                            .bind('change', function() {
                                                    Shopify.queryParams.sort_by = jQuery(this).val();
                                                    location.search = jQuery.param(Shopify.queryParams);
                                                }
                                            );
                                    });
                                </script>
                            </div>

                            <div class="tab-content">
                                <!-- shop-grid-area start -->
                                <div class="shop-grid-area text-center">
                                    <div class="row">


                                        <div class="col-md-4 col-sm-6 col-xs-6">







                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="{{ path('client_product', {id: 2}) }}">



                                                        <img src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/products/32_0b4f5c9f-8771-4e47-a9a6-c2cdddee5b8c_large1829.jpg?v=1508992204') }}" alt="Ceramics large bowl" />




                                                    </a>
                                                    <div class="product-overlay"></div>


                                                    <a href="javascript:void(0);" onclick="quiqview('ceramics-large-bowl')" class="quick-view modal-view" data-toggle="modal">
                                                        <i class="pe-7s-search"></i>
                                                    </a>



                                                    <a href="javascript:void(0);" onclick="Shopify.addItem(48378729741, 1); return false;" class="cart-btn quick-view" title="Add to Cart"><i class="pe-7s-cart"></i></a>


                                                </div>
                                                <div class="product-info">
                                                    <h6 class="product-name"><a href="{{ path('client_product', {id: 2}) }}">Ceramics large bowl</a></h6>
                                                    <div class="single-product-review">
                                                        <div class="product-info__review">
                                                            <div class="rating"><span class="shopify-product-reviews-badge" data-id="11004917581"></span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">

                                                        <h6 class="special-price"><span>$90.00</span></h6>

                                                    </div>
                                                    <div class="cart-btn-container">
                                                        <select name="id" style="display:none;">

                                                            <option value="48378729741">xl / blue / partex - $90.00</option>

                                                            <option value="48378729805">xl / blue / wood - $90.00</option>

                                                            <option value="48378729869">xl / white / partex - $90.00</option>

                                                            <option value="48378729933">xl / white / wood - $90.00</option>

                                                            <option value="48378729997">xl / yellow / partex - $90.00</option>

                                                            <option value="48378730061">xl / yellow / wood - $90.00</option>

                                                            <option value="48378730125">xl / black / partex - $90.00</option>

                                                            <option value="48378730189">xl / black / wood - $90.00</option>

                                                            <option value="48378730253">ml / blue / partex - $90.00</option>

                                                            <option value="48378730317">ml / blue / wood - $90.00</option>

                                                            <option value="48378730445">ml / white / partex - $90.00</option>

                                                            <option value="48378730509">ml / white / wood - $90.00</option>

                                                            <option value="48378730573">ml / yellow / partex - $90.00</option>

                                                            <option value="48378730637">ml / yellow / wood - $90.00</option>

                                                            <option value="48378730701">ml / black / partex - $90.00</option>

                                                            <option value="48378730765">ml / black / wood - $90.00</option>

                                                            <option value="48378730829">xs / blue / partex - $90.00</option>

                                                            <option value="48378730893">xs / blue / wood - $90.00</option>

                                                            <option value="48378730957">xs / white / partex - $90.00</option>

                                                            <option value="48378731085">xs / white / wood - $90.00</option>

                                                            <option value="48378731213">xs / yellow / partex - $90.00</option>

                                                            <option value="48378731341">xs / yellow / wood - $90.00</option>

                                                            <option value="48378731405">xs / black / partex - $90.00</option>

                                                            <option value="48378731469">xs / black / wood - $90.00</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div><!-- /.single-product -->

                                        </div>

                                        <div class="col-md-4 col-sm-6 col-xs-6">







                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="{{ path('client_product', {id: 2}) }}">



                                                        <img src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/products/3_fc2a579a-6213-4d39-93a4-b709c993bca7_largecd0b.jpg?v=1508988151') }}" alt="dummy Product name" />




                                                    </a>
                                                    <div class="product-overlay"></div>


                                                    <a href="javascript:void(0);" onclick="quiqview('dummy-product-name')" class="quick-view modal-view" data-toggle="modal">
                                                        <i class="pe-7s-search"></i>
                                                    </a>



                                                    <a href="javascript:void(0);" onclick="Shopify.addItem(48378637901, 1); return false;" class="cart-btn quick-view" title="Add to Cart"><i class="pe-7s-cart"></i></a>


                                                </div>
                                                <div class="product-info">
                                                    <h6 class="product-name"><a href="{{ path('client_product', {id: 2}) }}">dummy Product name</a></h6>
                                                    <div class="single-product-review">
                                                        <div class="product-info__review">
                                                            <div class="rating"><span class="shopify-product-reviews-badge" data-id="11004894861"></span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">

                                                        <h6 class="special-price"><span>$56.20</span></h6>

                                                    </div>
                                                    <div class="cart-btn-container">
                                                        <select name="id" style="display:none;">

                                                            <option value="48378637901">Default Title - $56.20</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div><!-- /.single-product -->

                                        </div>

                                        <div class="col-md-4 col-sm-6 col-xs-6">







                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="">



                                                        <img src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/products/8_large108f.jpg?v=1508988278') }}" alt="dummy Product name" />




                                                    </a>
                                                    <div class="product-overlay"></div>


                                                    <a href="javascript:void(0);" onclick="quiqview('dummy-product-name-1')" class="quick-view modal-view" data-toggle="modal">
                                                        <i class="pe-7s-search"></i>
                                                    </a>



                                                    <a href="javascript:void(0);" onclick="Shopify.addItem(48378648653, 1); return false;" class="cart-btn quick-view" title="Add to Cart"><i class="pe-7s-cart"></i></a>


                                                </div>
                                                <div class="product-info">
                                                    <h6 class="product-name"><a href="">dummy Product name</a></h6>
                                                    <div class="single-product-review">
                                                        <div class="product-info__review">
                                                            <div class="rating"><span class="shopify-product-reviews-badge" data-id="11004897997"></span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">

                                                        <h6 class="special-price"><span>$79.00</span></h6>

                                                    </div>
                                                    <div class="cart-btn-container">
                                                        <select name="id" style="display:none;">

                                                            <option value="48378648653">xl / red - $79.00</option>

                                                            <option value="48378648717">xl / green - $79.00</option>

                                                            <option value="48378648781">xl / blue - $79.00</option>

                                                            <option value="48378648845">xl / white - $79.00</option>

                                                            <option value="48378648909">xl / yellow - $79.00</option>

                                                            <option value="48378648973">ml / red - $79.00</option>

                                                            <option value="48378649037">ml / green - $79.00</option>

                                                            <option value="48378649101">ml / blue - $79.00</option>

                                                            <option value="48378649165">ml / white - $79.00</option>

                                                            <option value="48378649229">ml / yellow - $79.00</option>

                                                            <option value="48378649293">xs / red - $79.00</option>

                                                            <option value="48378649357">xs / green - $79.00</option>

                                                            <option value="48378649421">xs / blue - $79.00</option>

                                                            <option value="48378649485">xs / white - $79.00</option>

                                                            <option value="48378649549">xs / yellow - $79.00</option>

                                                            <option value="48378649677">X / red - $79.00</option>

                                                            <option value="48378649741">X / green - $79.00</option>

                                                            <option value="48378649805">X / blue - $79.00</option>

                                                            <option value="48378649869">X / white - $79.00</option>

                                                            <option value="48378649933">X / yellow - $79.00</option>

                                                            <option value="48378649997">L / red - $79.00</option>

                                                            <option value="48378650061">L / green - $79.00</option>

                                                            <option value="48378650125">L / blue - $79.00</option>

                                                            <option value="48378650189">L / white - $79.00</option>

                                                            <option value="48378650253">L / yellow - $79.00</option>

                                                            <option value="48378650317">M / red - $79.00</option>

                                                            <option value="48378650381">M / green - $79.00</option>

                                                            <option value="48378650445">M / blue - $79.00</option>

                                                            <option value="48378650509">M / white - $79.00</option>

                                                            <option value="48378650573">M / yellow - $79.00</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div><!-- /.single-product -->

                                        </div>

                                        <div class="col-md-4 col-sm-6 col-xs-6">







                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="">



                                                        <img src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/products/9_91d88508-c90e-4cef-a297-e935ddf586a7_largeb3f2.jpg?v=1508988350') }}" alt="dummy Product name" />




                                                    </a>
                                                    <div class="product-overlay"></div>


                                                    <a href="javascript:void(0);" onclick="quiqview('dummy-product-name-2')" class="quick-view modal-view" data-toggle="modal">
                                                        <i class="pe-7s-search"></i>
                                                    </a>



                                                    <a href="javascript:void(0);" onclick="Shopify.addItem(48378651981, 1); return false;" class="cart-btn quick-view" title="Add to Cart"><i class="pe-7s-cart"></i></a>


                                                </div>
                                                <div class="product-info">
                                                    <h6 class="product-name"><a href="">dummy Product name</a></h6>
                                                    <div class="single-product-review">
                                                        <div class="product-info__review">
                                                            <div class="rating"><span class="shopify-product-reviews-badge" data-id="11004899277"></span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">

                                                        <h6 class="special-price"><span>$80.00</span></h6>

                                                    </div>
                                                    <div class="cart-btn-container">
                                                        <select name="id" style="display:none;">

                                                            <option value="48378651981">X / black / wood - $80.00</option>

                                                            <option value="48378652045">X / black / glass - $80.00</option>

                                                            <option value="48378652109">X / black / steel - $80.00</option>

                                                            <option value="48378652173">X / brown / wood - $80.00</option>

                                                            <option value="48378652237">X / brown / glass - $80.00</option>

                                                            <option value="48378652301">X / brown / steel - $80.00</option>

                                                            <option value="48378652365">X / cyan / wood - $80.00</option>

                                                            <option value="48378652429">X / cyan / glass - $80.00</option>

                                                            <option value="48378652493">X / cyan / steel - $80.00</option>

                                                            <option value="48378652557">X / gold / wood - $80.00</option>

                                                            <option value="48378652621">X / gold / glass - $80.00</option>

                                                            <option value="48378652685">X / gold / steel - $80.00</option>

                                                            <option value="48378652749">X / gray / wood - $80.00</option>

                                                            <option value="48378652813">X / gray / glass - $80.00</option>

                                                            <option value="48378652877">X / gray / steel - $80.00</option>

                                                            <option value="48378652941">L / black / wood - $80.00</option>

                                                            <option value="48378653005">L / black / glass - $80.00</option>

                                                            <option value="48378653069">L / black / steel - $80.00</option>

                                                            <option value="48378653197">L / brown / wood - $80.00</option>

                                                            <option value="48378653261">L / brown / glass - $80.00</option>

                                                            <option value="48378653389">L / brown / steel - $80.00</option>

                                                            <option value="48378653453">L / cyan / wood - $80.00</option>

                                                            <option value="48378653517">L / cyan / glass - $80.00</option>

                                                            <option value="48378653581">L / cyan / steel - $80.00</option>

                                                            <option value="48378653645">L / gold / wood - $80.00</option>

                                                            <option value="48378653709">L / gold / glass - $80.00</option>

                                                            <option value="48378653773">L / gold / steel - $80.00</option>

                                                            <option value="48378653837">L / gray / wood - $80.00</option>

                                                            <option value="48378653901">L / gray / glass - $80.00</option>

                                                            <option value="48378653965">L / gray / steel - $80.00</option>

                                                            <option value="48378654029">M / black / wood - $80.00</option>

                                                            <option value="48378654093">M / black / glass - $80.00</option>

                                                            <option value="48378654157">M / black / steel - $80.00</option>

                                                            <option value="48378654221">M / brown / wood - $80.00</option>

                                                            <option value="48378654349">M / brown / glass - $80.00</option>

                                                            <option value="48378654413">M / brown / steel - $80.00</option>

                                                            <option value="48378654541">M / cyan / wood - $80.00</option>

                                                            <option value="48378654605">M / cyan / glass - $80.00</option>

                                                            <option value="48378654669">M / cyan / steel - $80.00</option>

                                                            <option value="48378654733">M / gold / wood - $80.00</option>

                                                            <option value="48378654797">M / gold / glass - $80.00</option>

                                                            <option value="48378654861">M / gold / steel - $80.00</option>

                                                            <option value="48378654925">M / gray / wood - $80.00</option>

                                                            <option value="48378655053">M / gray / glass - $80.00</option>

                                                            <option value="48378655117">M / gray / steel - $80.00</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div><!-- /.single-product -->

                                        </div>

                                        <div class="col-md-4 col-sm-6 col-xs-6">







                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="">



                                                        <img src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/products/11_larged516.jpg?v=1508988463') }}" alt="dummy Product name" />




                                                    </a>
                                                    <div class="product-overlay"></div>


                                                    <a href="javascript:void(0);" onclick="quiqview('dummy-product-name-3')" class="quick-view modal-view" data-toggle="modal">
                                                        <i class="pe-7s-search"></i>
                                                    </a>



                                                    <a href="javascript:void(0);" onclick="Shopify.addItem(48378668237, 1); return false;" class="cart-btn quick-view" title="Add to Cart"><i class="pe-7s-cart"></i></a>


                                                </div>
                                                <div class="product-info">
                                                    <h6 class="product-name"><a href="">dummy Product name</a></h6>
                                                    <div class="single-product-review">
                                                        <div class="product-info__review">
                                                            <div class="rating"><span class="shopify-product-reviews-badge" data-id="11004901773"></span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">

                                                        <h6 class="special-price"><span>$60.00</span></h6>

                                                    </div>
                                                    <div class="cart-btn-container">
                                                        <select name="id" style="display:none;">

                                                            <option value="48378668237">X / gold - $60.00</option>

                                                            <option value="48378668301">X / gray - $60.00</option>

                                                            <option value="48378668429">X / magenta - $60.00</option>

                                                            <option value="48378668493">X / orange - $60.00</option>

                                                            <option value="48378668621">L / gold - $60.00</option>

                                                            <option value="48378668685">L / gray - $60.00</option>

                                                            <option value="48378668813">L / magenta - $60.00</option>

                                                            <option value="48378668941">L / orange - $60.00</option>

                                                            <option value="48378669005">M / gold - $60.00</option>

                                                            <option value="48378669133">M / gray - $60.00</option>

                                                            <option value="48378669261">M / magenta - $60.00</option>

                                                            <option value="48378669453">M / orange - $60.00</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div><!-- /.single-product -->

                                        </div>

                                        <div class="col-md-4 col-sm-6 col-xs-6">







                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="">



                                                        <img src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/products/12_f3db730b-66c0-44d4-abe5-6015dc675cc1_large482d.jpg?v=1508988513') }}" alt="dummy Product title" />




                                                    </a>
                                                    <div class="product-overlay"></div>


                                                    <a href="javascript:void(0);" onclick="quiqview('dummy-product-title')" class="quick-view modal-view" data-toggle="modal">
                                                        <i class="pe-7s-search"></i>
                                                    </a>



                                                    <a href="javascript:void(0);" onclick="Shopify.addItem(48378690125, 1); return false;" class="cart-btn quick-view" title="Add to Cart"><i class="pe-7s-cart"></i></a>


                                                </div>
                                                <div class="product-info">
                                                    <h6 class="product-name"><a href="">dummy Product title</a></h6>
                                                    <div class="single-product-review">
                                                        <div class="product-info__review">
                                                            <div class="rating"><span class="shopify-product-reviews-badge" data-id="11004906253"></span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">

                                                        <h6 class="special-price"><span>$120.00</span></h6>

                                                    </div>
                                                    <div class="cart-btn-container">
                                                        <select name="id" style="display:none;">

                                                            <option value="48378690125">xl / black / partex - $120.00</option>

                                                            <option value="48378690189">xl / black / wood - $120.00</option>

                                                            <option value="48378690253">xl / black / steel - $120.00</option>

                                                            <option value="48378690381">xl / brown / partex - $120.00</option>

                                                            <option value="48378690445">xl / brown / wood - $120.00</option>

                                                            <option value="48378690509">xl / brown / steel - $120.00</option>

                                                            <option value="48378690573">xl / cyan / partex - $120.00</option>

                                                            <option value="48378690637">xl / cyan / wood - $120.00</option>

                                                            <option value="48378690701">xl / cyan / steel - $120.00</option>

                                                            <option value="48378690765">xl / gold / partex - $120.00</option>

                                                            <option value="48378690829">xl / gold / wood - $120.00</option>

                                                            <option value="48378690893">xl / gold / steel - $120.00</option>

                                                            <option value="48378690957">ml / black / partex - $120.00</option>

                                                            <option value="48378691021">ml / black / wood - $120.00</option>

                                                            <option value="48378691085">ml / black / steel - $120.00</option>

                                                            <option value="48378691149">ml / brown / partex - $120.00</option>

                                                            <option value="48378691213">ml / brown / wood - $120.00</option>

                                                            <option value="48378691277">ml / brown / steel - $120.00</option>

                                                            <option value="48378691341">ml / cyan / partex - $120.00</option>

                                                            <option value="48378691405">ml / cyan / wood - $120.00</option>

                                                            <option value="48378691469">ml / cyan / steel - $120.00</option>

                                                            <option value="48378691533">ml / gold / partex - $120.00</option>

                                                            <option value="48378691597">ml / gold / wood - $120.00</option>

                                                            <option value="48378691661">ml / gold / steel - $120.00</option>

                                                            <option value="48378691789">xs / black / partex - $120.00</option>

                                                            <option value="48378691853">xs / black / wood - $120.00</option>

                                                            <option value="48378691981">xs / black / steel - $120.00</option>

                                                            <option value="48378692045">xs / brown / partex - $120.00</option>

                                                            <option value="48378692173">xs / brown / wood - $120.00</option>

                                                            <option value="48378692237">xs / brown / steel - $120.00</option>

                                                            <option value="48378692301">xs / cyan / partex - $120.00</option>

                                                            <option value="48378692365">xs / cyan / wood - $120.00</option>

                                                            <option value="48378692429">xs / cyan / steel - $120.00</option>

                                                            <option value="48378692493">xs / gold / partex - $120.00</option>

                                                            <option value="48378692557">xs / gold / wood - $120.00</option>

                                                            <option value="48378692621">xs / gold / steel - $120.00</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div><!-- /.single-product -->

                                        </div>

                                        <div class="col-md-4 col-sm-6 col-xs-6">







                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="">



                                                        <img src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/products/18_fff9d5d7-9a47-4bc7-958c-1ede881a6d80_largee0f1.jpg?v=1508992665') }}" alt="Hair cutting brush" />




                                                    </a>
                                                    <div class="product-overlay"></div>


                                                    <a href="javascript:void(0);" onclick="quiqview('hair-cutting-brush')" class="quick-view modal-view" data-toggle="modal">
                                                        <i class="pe-7s-search"></i>
                                                    </a>



                                                    <a href="javascript:void(0);" onclick="Shopify.addItem(48378719629, 1); return false;" class="cart-btn quick-view" title="Add to Cart"><i class="pe-7s-cart"></i></a>


                                                </div>
                                                <div class="product-info">
                                                    <h6 class="product-name"><a href="">Hair cutting brush</a></h6>
                                                    <div class="single-product-review">
                                                        <div class="product-info__review">
                                                            <div class="rating"><span class="shopify-product-reviews-badge" data-id="11004913485"></span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">

                                                        <h6 class="special-price"><span>$60.00</span></h6>

                                                    </div>
                                                    <div class="cart-btn-container">
                                                        <select name="id" style="display:none;">

                                                            <option value="48378719629">xl / white / partex - $60.00</option>

                                                            <option value="48378719693">xl / white / wood - $60.00</option>

                                                            <option value="48378719757">xl / white / glass - $60.00</option>

                                                            <option value="48378719821">xl / yellow / partex - $60.00</option>

                                                            <option value="48378719885">xl / yellow / wood - $60.00</option>

                                                            <option value="48378719949">xl / yellow / glass - $60.00</option>

                                                            <option value="48378720013">xl / black / partex - $60.00</option>

                                                            <option value="48378720077">xl / black / wood - $60.00</option>

                                                            <option value="48378720141">xl / black / glass - $60.00</option>

                                                            <option value="48378720205">xl / brown / partex - $60.00</option>

                                                            <option value="48378720333">xl / brown / wood - $60.00</option>

                                                            <option value="48378720397">xl / brown / glass - $60.00</option>

                                                            <option value="48378720461">xl / cyan / partex - $60.00</option>

                                                            <option value="48378720525">xl / cyan / wood - $60.00</option>

                                                            <option value="48378720589">xl / cyan / glass - $60.00</option>

                                                            <option value="48378720653">xl / gold / partex - $60.00</option>

                                                            <option value="48378720717">xl / gold / wood - $60.00</option>

                                                            <option value="48378720781">xl / gold / glass - $60.00</option>

                                                            <option value="48378720845">xl / gray / partex - $60.00</option>

                                                            <option value="48378720909">xl / gray / wood - $60.00</option>

                                                            <option value="48378720973">xl / gray / glass - $60.00</option>

                                                            <option value="48378721037">ml / white / partex - $60.00</option>

                                                            <option value="48378721101">ml / white / wood - $60.00</option>

                                                            <option value="48378721165">ml / white / glass - $60.00</option>

                                                            <option value="48378721229">ml / yellow / partex - $60.00</option>

                                                            <option value="48378721293">ml / yellow / wood - $60.00</option>

                                                            <option value="48378721357">ml / yellow / glass - $60.00</option>

                                                            <option value="48378721421">ml / black / partex - $60.00</option>

                                                            <option value="48378721485">ml / black / wood - $60.00</option>

                                                            <option value="48378721549">ml / black / glass - $60.00</option>

                                                            <option value="48378721613">ml / brown / partex - $60.00</option>

                                                            <option value="48378721677">ml / brown / wood - $60.00</option>

                                                            <option value="48378721741">ml / brown / glass - $60.00</option>

                                                            <option value="48378721805">ml / cyan / partex - $60.00</option>

                                                            <option value="48378721933">ml / cyan / wood - $60.00</option>

                                                            <option value="48378721997">ml / cyan / glass - $60.00</option>

                                                            <option value="48378722061">ml / gold / partex - $60.00</option>

                                                            <option value="48378722125">ml / gold / wood - $60.00</option>

                                                            <option value="48378722189">ml / gold / glass - $60.00</option>

                                                            <option value="48378722253">ml / gray / partex - $60.00</option>

                                                            <option value="48378722317">ml / gray / wood - $60.00</option>

                                                            <option value="48378722381">ml / gray / glass - $60.00</option>

                                                            <option value="48378722445">xs / white / partex - $60.00</option>

                                                            <option value="48378722509">xs / white / wood - $60.00</option>

                                                            <option value="48378722573">xs / white / glass - $60.00</option>

                                                            <option value="48378722637">xs / yellow / partex - $60.00</option>

                                                            <option value="48378722765">xs / yellow / wood - $60.00</option>

                                                            <option value="48378722829">xs / yellow / glass - $60.00</option>

                                                            <option value="48378722957">xs / black / partex - $60.00</option>

                                                            <option value="48378723021">xs / black / wood - $60.00</option>

                                                            <option value="48378723149">xs / black / glass - $60.00</option>

                                                            <option value="48378723213">xs / brown / partex - $60.00</option>

                                                            <option value="48378723277">xs / brown / wood - $60.00</option>

                                                            <option value="48378723341">xs / brown / glass - $60.00</option>

                                                            <option value="48378723405">xs / cyan / partex - $60.00</option>

                                                            <option value="48378723469">xs / cyan / wood - $60.00</option>

                                                            <option value="48378723533">xs / cyan / glass - $60.00</option>

                                                            <option value="48378723597">xs / gold / partex - $60.00</option>

                                                            <option value="48378723661">xs / gold / wood - $60.00</option>

                                                            <option value="48378723725">xs / gold / glass - $60.00</option>

                                                            <option value="48378723789">xs / gray / partex - $60.00</option>

                                                            <option value="48378723853">xs / gray / wood - $60.00</option>

                                                            <option value="48378723917">xs / gray / glass - $60.00</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div><!-- /.single-product -->

                                        </div>

                                        <div class="col-md-4 col-sm-6 col-xs-6">







                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="">



                                                        <img src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/products/28_13defa81-5337-4d7b-81d7-d81b898898f3_largecf7d.jpg?v=1508991943') }}" alt="Meats biscuit" />




                                                    </a>
                                                    <div class="product-overlay"></div>


                                                    <a href="javascript:void(0);" onclick="quiqview('meats-biscuit')" class="quick-view modal-view" data-toggle="modal">
                                                        <i class="pe-7s-search"></i>
                                                    </a>



                                                    <a href="javascript:void(0);" onclick="Shopify.addItem(48378688973, 1); return false;" class="cart-btn quick-view" title="Add to Cart"><i class="pe-7s-cart"></i></a>


                                                </div>
                                                <div class="product-info">
                                                    <h6 class="product-name"><a href="">Meats biscuit</a></h6>
                                                    <div class="single-product-review">
                                                        <div class="product-info__review">
                                                            <div class="rating"><span class="shopify-product-reviews-badge" data-id="11004906189"></span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">

                                                        <h6 class="special-price"><span>$50.00</span></h6>

                                                    </div>
                                                    <div class="cart-btn-container">
                                                        <select name="id" style="display:none;">

                                                            <option value="48378688973">Default Title - $50.00</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div><!-- /.single-product -->

                                        </div>

                                        <div class="col-md-4 col-sm-6 col-xs-6">







                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="">



                                                        <img src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/products/13_largee641.jpg?v=1508988566') }}" alt="Natural Foods for pets" />




                                                    </a>
                                                    <div class="product-overlay"></div>


                                                    <a href="javascript:void(0);" onclick="quiqview('natural-foods-for-pets')" class="quick-view modal-view" data-toggle="modal">
                                                        <i class="pe-7s-search"></i>
                                                    </a>



                                                    <a href="javascript:void(0);" onclick="Shopify.addItem(48378658573, 1); return false;" class="cart-btn quick-view" title="Add to Cart"><i class="pe-7s-cart"></i></a>


                                                </div>
                                                <div class="product-info">
                                                    <h6 class="product-name"><a href="">Natural Foods for pets</a></h6>
                                                    <div class="single-product-review">
                                                        <div class="product-info__review">
                                                            <div class="rating"><span class="shopify-product-reviews-badge" data-id="11004900685"></span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">

                                                        <h6 class="special-price"><span>$100.00</span></h6>

                                                    </div>
                                                    <div class="cart-btn-container">
                                                        <select name="id" style="display:none;">

                                                            <option value="48378658573">xl - $100.00</option>

                                                            <option value="48378658701">ml - $100.00</option>

                                                            <option value="48378658829">xs - $100.00</option>

                                                            <option value="48378658957">X - $100.00</option>

                                                            <option value="48378659021">L - $100.00</option>

                                                            <option value="48378659149">M - $100.00</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div><!-- /.single-product -->

                                        </div>

                                        <div class="col-md-4 col-sm-6 col-xs-6">







                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="">



                                                        <img src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/products/27_237f436f-6517-461f-87bb-b76f772f4141_largef7fc.jpg?v=1508991809') }}" alt="Natural foods for your pets" />




                                                    </a>
                                                    <div class="product-overlay"></div>


                                                    <a href="javascript:void(0);" onclick="quiqview('natural-foods-for-your-pets')" class="quick-view modal-view" data-toggle="modal">
                                                        <i class="pe-7s-search"></i>
                                                    </a>



                                                    <a href="javascript:void(0);" onclick="Shopify.addItem(48378694733, 1); return false;" class="cart-btn quick-view" title="Add to Cart"><i class="pe-7s-cart"></i></a>


                                                </div>
                                                <div class="product-info">
                                                    <h6 class="product-name"><a href="">Natural foods for your pets</a></h6>
                                                    <div class="single-product-review">
                                                        <div class="product-info__review">
                                                            <div class="rating"><span class="shopify-product-reviews-badge" data-id="11004908173"></span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">

                                                        <h6 class="special-price"><span>$56.20</span></h6>

                                                    </div>
                                                    <div class="cart-btn-container">
                                                        <select name="id" style="display:none;">

                                                            <option value="48378694733">red - $56.20</option>

                                                            <option value="48378694797">green - $56.20</option>

                                                            <option value="48378694861">blue - $56.20</option>

                                                            <option value="48378694989">white - $56.20</option>

                                                            <option value="48378695053">yellow - $56.20</option>

                                                            <option value="48378695117">black - $56.20</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div><!-- /.single-product -->

                                        </div>

                                        <div class="col-md-4 col-sm-6 col-xs-6">







                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="">



                                                        <img src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/products/37_fee7cd7d-6647-4b9f-a0ea-c834ee125f9d_large5a7a.jpg?v=1508992438') }}" alt="Neck smooth belt" />




                                                    </a>
                                                    <div class="product-overlay"></div>


                                                    <a href="javascript:void(0);" onclick="quiqview('neck-smooth-belt')" class="quick-view modal-view" data-toggle="modal">
                                                        <i class="pe-7s-search"></i>
                                                    </a>



                                                    <a href="javascript:void(0);" onclick="Shopify.addItem(48378728589, 1); return false;" class="cart-btn quick-view" title="Add to Cart"><i class="pe-7s-cart"></i></a>


                                                </div>
                                                <div class="product-info">
                                                    <h6 class="product-name"><a href="">Neck smooth belt</a></h6>
                                                    <div class="single-product-review">
                                                        <div class="product-info__review">
                                                            <div class="rating"><span class="shopify-product-reviews-badge" data-id="11004916749"></span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">

                                                        <h6 class="special-price"><span>$50.00</span></h6>

                                                    </div>
                                                    <div class="cart-btn-container">
                                                        <select name="id" style="display:none;">

                                                            <option value="48378728589">Default Title - $50.00</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div><!-- /.single-product -->

                                        </div>

                                        <div class="col-md-4 col-sm-6 col-xs-6">







                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="">



                                                        <img src="{{ asset('client/cdn.shopify.com/s/files/1/2452/7833/products/23_b691cd84-ea0c-4451-9985-edb4198bf32f_large3cb9.jpg?v=1508989669') }}" alt="Ornament for your pets" />




                                                    </a>
                                                    <div class="product-overlay"></div>


                                                    <a href="javascript:void(0);" onclick="quiqview('ornament-for-your-pets')" class="quick-view modal-view" data-toggle="modal">
                                                        <i class="pe-7s-search"></i>
                                                    </a>



                                                    <a href="javascript:void(0);" onclick="Shopify.addItem(48378727309, 1); return false;" class="cart-btn quick-view" title="Add to Cart"><i class="pe-7s-cart"></i></a>


                                                </div>
                                                <div class="product-info">
                                                    <h6 class="product-name"><a href="">Ornament for your pets</a></h6>
                                                    <div class="single-product-review">
                                                        <div class="product-info__review">
                                                            <div class="rating"><span class="shopify-product-reviews-badge" data-id="11004915789"></span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">

                                                        <h6 class="special-price"><span>$30.00</span></h6>

                                                    </div>
                                                    <div class="cart-btn-container">
                                                        <select name="id" style="display:none;">

                                                            <option value="48378727309">Default Title - $30.00</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div><!-- /.single-product -->

                                        </div>


                                    </div>
                                </div>
                                <!-- shop-grid-area end -->
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="pagination-area fix">

                                        <div class="pagination-links">
                                            <ul>
                                                <li>
                                                    <span class="page current">1</span> <span class="page"><a href="{{ path('client_collection') }}?page=2" title="">2</a></span> <span class="next"><a href="{{ path('client_collection') }}?page=2" title="">&gt;</a></span>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="col-md-3 pull-left col-sm-12 col-xs-12">
                            <div class="sidebar-widget-area">

                                <div class="single-sidebar-widget">

                                    <h6 class="widget-title">Categories</h6>


                                    <div class="menu-list cl_list">
                                        <ul>

                                            <li class=""><a href="">Canned Food <span>(11)</span></a></li>

                                            <li class=""><a href="">Dry Food <span>(10)</span></a></li>

                                            <li class=""><a href="">Food Pouches <span>(12)</span></a></li>

                                            <li class=""><a href="">Fresh Food <span>(18)</span></a></li>

                                            <li class=""><a href="">General Health <span>(12)</span></a></li>

                                        </ul>
                                    </div>
                                </div>


                                <!-- Product Type Filter -->

                                <div class="single-sidebar-widget">

                                    <h6 class="widget-title">Types</h6>


                                    <div class="menu-list cl_list">
                                        <ul>


                                            <li class=""><a href="">assorted</a></li>



                                            <li class=""><a href="">box</a></li>



                                            <li class=""><a href="">chair</a></li>



                                            <li class=""><a href="">table</a></li>



                                            <li class=""><a href="">table-lamp</a></li>


                                        </ul>
                                    </div>
                                </div>



                                <!-- Product Brand Filter -->

                                <div class="single-sidebar-widget">

                                    <h6 class="widget-title">Brand</h6>

                                    <div class="menu-list cl_list">
                                        <ul>

                                            <li><a href="">brothers</a></li>

                                            <li><a href="">hatil</a></li>

                                            <li><a href="">hurst-furniture</a></li>

                                            <li><a href="">navana</a></li>

                                            <li><a href="">otobi</a></li>

                                            <li><a href="">rokomari</a></li>

                                        </ul>
                                    </div>
                                </div>

                            </div>

                            <!-- Product Color Filter -->

                            <div class="single-sidebar-widget">

                                <h6 class="widget-title">Color</h6>


                                <div class="menu-list cl_list">
                                    <ul>





                                        <li class="">
                                            <a href="">
                                                <i class="red" style="background: red none repeat scroll 0 0;"></i>
                                                red
                                            </a>
                                        </li>




                                        <li class="">
                                            <a href="">
                                                <i class="green" style="background: green none repeat scroll 0 0;"></i>
                                                green
                                            </a>
                                        </li>




                                        <li class="">
                                            <a href="">
                                                <i class="blue" style="background: blue none repeat scroll 0 0;"></i>
                                                blue
                                            </a>
                                        </li>




                                        <li class="">
                                            <a href="">
                                                <i class="white" style="background: white none repeat scroll 0 0;"></i>
                                                white
                                            </a>
                                        </li>




                                        <li class="">
                                            <a href="">
                                                <i class="yellow" style="background: yellow none repeat scroll 0 0;"></i>
                                                yellow
                                            </a>
                                        </li>


                                    </ul>
                                </div>
                            </div>




                            <!-- Product Size Filter -->

                            <div class="single-sidebar-widget">

                                <h6 class="widget-title">Size</h6>

                                <div class="menu-list cl_list">
                                    <ul>






                                        <li class=""><a href=""><span>xl</span></a></li>




                                        <li class=""><a href=""><span>xs</span></a></li>




                                        <li class=""><a href=""><span>ml</span></a></li>




                                        <li class=""><a href=""><span>X</span></a></li>




                                        <li class=""><a href=""><span>M</span></a></li>


                                    </ul>
                                </div>
                            </div>




                            <!-- Product Tags Filter -->

                            <div class="single-sidebar-widget">

                                <h6 class="widget-title">Popular Tags</h6>


                                <div class="menu-list cl_list tag-list">
                                    <ul>


                                        <li><a class="" href="all/l.html">L</a></li>

                                        <li><a class="" href="all/m.html">M</a></li>

                                        <li><a class="" href="all/x.html">X</a></li>

                                        <li><a class="" href="all/black.html">black</a></li>

                                        <li><a class="" href="all/blue.html">blue</a></li>

                                        <li><a class="" href="all/brown.html">brown</a></li>

                                        <li><a class="" href="all/cyan.html">cyan</a></li>

                                        <li><a class="" href="all/glass.html">glass</a></li>

                                        <li><a class="" href="all/gold.html">gold</a></li>

                                        <li><a class="" href="all/gray.html">gray</a></li>

                                        <li><a class="" href="all/green.html">green</a></li>

                                        <li><a class="" href="all/magenta.html">magenta</a></li>

                                        <li><a class="" href="all/ml.html">ml</a></li>

                                        <li><a class="" href="all/orange.html">orange</a></li>

                                        <li><a class="" href="all/partex.html">partex</a></li>

                                    </ul>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>










        </div>

    </main>
{% endblock %}

